<html>
    <body>
        <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="fname" placeholder="fname"><br>
        <input type="text" name="lname" placeholder="lname"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="uname" placeholder="uname"><br>
        <input type="text" name="password" placeholder="password"><br><br><br>
        <input type="Submit" name="submit" value="submit"><br>
       

        </form>
    </body>
</html