{% extends "employee_register/base.html" %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for employee in context %}
            <tr>
                <td>{{employee.fullname}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.position}}</td>
                <td>
                    <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0 display-inline">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="display-inline">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content%}

