<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
        <form action="login" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">Username<br>
            <input type="password" name="password" placeholder="Password">Password<br>
            <input type="Submit">
        </form>

        <div>
            {% for message in messages%}
                {{message}}
            {% endfor %}
        </div>
    </body>
</html>